<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>186th Squadron</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="186,186th,squadron,x-wing,xwing,miniatures,tournaments,events">
    <meta name="description" content="Listing of X-Wing tournaments and events from around the United Kingdom">
    <!-- <meta name="google-site-verification" content="uRWrtph1LIakh3nSxOS6mJmF57b2MVLis95StmA0DtQ" /> -->
    <!-- <meta property="og:title" content="186th Squadron" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://186th.org/" />
    <meta property="og:description" content="A summary of X-Wing tournaments all around the UK and a little wider" />
    <meta property="og:image" content="http://www.186th.org/assets/img/logo-dark-large.png" /> -->
    <!-- <link rel="canonical" href="http://www.186th.org/" /> -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans" />
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
  </head>
  <body>
    <main id="main">
      <header>
        <div class="gutter">
          <div class="layout-left">
            <h1 class="logo">
              <img alt="186th Squadron" width="200" src="assets/img/logo-gradient.png" />
            </h1>
          </div>
          <div class="layout-right">
            <div class="search">
              <i class="feather icon-search"></i>
              <input class="search" type="text" placeholder="Search tournament list&hellip;" v-model="search" v-on:keyup="filter_results" />
            </div>
          </div>
        </div>
      </header>
      <section>
        <div class="gutter">
          <div class="layout-left">
            <div class="block">
              <h3>Who are you?</h3>
              <p>Founded in 2015, <b>186th Squadron</b> is the UK's oldest and largest organised group of X-Wing tournament players. We're based primarily around the London area (and little bit wider).</p>
            </div>
            <div class="block">
              <h3>Tournaments</h3>
              <p>We manage and provide an open list of tournaments and events around the country, right here.</p>
            </div>
            <div class="block">
              <h3>Podcast</h3>
              <p>We release episodes (roughly) every two weeks on our award-winning podcast. Find us at the usual places.</p>
            </div>
          </div>
          <div class="layout-right">
            <div class="loading" v-if="status === 'loading'">
              <p>Loading</p>
            </div>
            <div class="error" v-if="status === 'error'">
              <p>
                <b>That's not how the Force works!</b><br />{{ error }}
              </p>
            </div>
            <div class="heading" v-if="status === 'done' && search.length === 0">
              <p>Found {{ items.length }} {{ items.length === 1 ? "tournament" : "tournaments" }}</p>
            </div>
            <div class="heading" v-if="status === 'done' && search.length > 0">
              <p><span>"{{ search }}"</span> Found {{ items.length }} {{ items.length === 1 ? "tournament" : "tournaments" }}</p>
            </div>
            <div class="error" v-if="status === 'done' && search.length > 0 && items.length === 0">
              <p>Not the droids you're looking for?</p>
            </div>
            <div class="item" v-for="item in items">
              <div class="item-content">
                <div class="item-date">{{ item['Date'] }}</div>
                <div class="item-about">
                  <div class="item-heading">{{ item['Tournament'] }}</div>
                  <div class="item-place">{{ item['Country'] ? item['Country'] : "Location TBC" }}</div>
                </div>
              </div>
              <div class="item-group">
                <div class="item-text item-points">
                  <i class="feather icon-server"></i> {{ item['Points limit'] && parseInt(item['Points limit'], 10) ? item['Points limit'] + "pts" : "??? pts" }}
                </div>
                <div class="item-text item-players">
                  <i class="feather icon-users"></i> {{ item['Players'] && parseInt(item['Players'], 10) ? item['Players'] : "???" }}
                </div>
                <div class="item-text item-notes" v-if="item['Notes']">
                  <i class="feather icon-clipboard"></i> <span>{{ item['Notes'].charAt(0).toUpperCase() + item['Notes'].substring(1) }}</span>
                </div>
                <a class="item-text item-link" v-if="item['Link']" v-bind:href="item['Link']">
                  <i class="feather icon-link"></i> Link
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/papa.min.js"></script>
    <script>
      var sheet = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTCnlCP3ji1Pzas6J7wYdZP5JL9wjQYBrPpRvZrTb5sZoHpvLwky1TrUvDlCQCJTHmtEqRWAh3KXrY7/pub?output=csv";
      var main = new Vue({
        el: "#main",
        data: {
          search: "",
          status: "loading",
          error: "",
          source: [],
          items: []
        },
        methods: {
          fetch_text: function (response) {
            return response.text()
          },
          fetch_parse: function (data) {
            var parsed = Papa.parse(data, { header: true });
            this.source = parsed.data;
            this.items = parsed.data;
            this.status = "done";
          },
          fetch_error: function (error) {
            this.status = "error";
            this.error = "Sorry. There was a problem fetching the tournament data.";
          },
          filter_results: function (key) {
            var term = this.search.toLowerCase();
            var results = this.source.filter(function (item) {
              var copy = Object.assign({}, item);
              copy['Players'] = "";
              copy['Link'] = "";
              var text = JSON.stringify(Object.values(copy));
              return text.toLowerCase().indexOf(term) !== -1;
            });
            if (term === "") {
              this.items = this.source;
            } else {
              this.items = results;
            }
          }
        },
        created: function() {
          fetch(sheet, {
            method: 'GET',
            mode: 'cors',
          })
          .then(this.fetch_text)
          .then(this.fetch_parse)
          .catch(this.fetch_error);
        }
      })
    </script>
  </body>
</html>