html {
  background: #022742;
}
body {
  background: #eee;
  border-top: 20px solid #022742;
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}
header {
  display: flex;
  flex-direction: column;
  position: relative;
}
section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  padding: 40px 40px 40px 20px;
  background: #eee;
  border-radius: 20px 0 0 0;
}

.logo {
  width: 240px;
  margin: 0;
  padding: 0 20px;
  position: relative;
}
.logo:before, .logo:after {
  content: "";
  top: 0;
  position: absolute;
  background: #022742;
  z-index: 2;
  width: 20px;
  height: 20px;
}
.logo:before { left: 0; }
.logo:after { right: 0; }
.logo .tab {
  width: 200px;
  padding: 20px 20px 30px;
  border-radius: 0 0 20px 20px;
  position: relative;
  z-index: 3;
  background: #022742;
  margin: 0;
}
.logo .tab:before, .logo .tab:after {
  content: "";
  top: 0;
  position: absolute;
  background: #eee;
  z-index: 3;
  width: 20px;
  height: 20px;
}
.logo .tab:before { left: -20px; border-radius: 0 20px 0 0; }
.logo .tab:after { right: -20px; border-radius: 20px 0 0 0; }
.logo img {
  display: block;
  width: 100%;
  margin: 0;
}
p, ul {
  margin: 0 0 20px;
}

.block {
  text-align: justify;
  max-width: 200px;
  font-size: 13px;
  margin: 40px;
}

.items, .item {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none outside;
}
.item {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
}
.item + .item {
  margin-top: 10px;
}
.item-heading {
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  line-height: 20px;
}
.item-text {
  line-height: 20px;
}
.item-link {
  text-decoration: none;
}
.item-link:hover,
.item-link:focus {
  color: #FFAA00 !important;
}
.item-date {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #666;
}
.item-group {
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  padding: 9px 20px 10px;
  border-top: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  background: #f8f8f8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.item-group .item-text {
  white-space: nowrap;
  font-size: 13px;
  color: #333;
}
.item-group .item-text .feather {
  margin-right: 3px;
}
.item-points { min-width: 80px; }
.item-players { min-width: 60px; }
.item-notes {
  max-width: 200px;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item-link { margin-left: auto; }

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
  header {
    flex-direction: row;
  }
  .block {
    text-align: left;
    max-width: 100%;
    font-size: 13px;
    margin: 40px 40px 20px 20px;
  }
  section {
    padding: 20px;
  }
}