html {
  background: #022742;
  height: 100%;
}
body {
  min-height: 100%;
  background: #eee;
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

@keyframes loading {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
}

h1, h2, h3, h4, p, ol, ul {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #022742;
}

main {
  display: flex;
  flex-direction: column;
}
header {
  background: #022742;
}
header .gutter {
  display: flex;
  flex-direction: row;
}
section {
  background: #eee;
}
section .gutter {
  display: flex;
  flex-direction: row;
}
footer {
  margin-top: 100px;
}
footer .gutter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .gutter .feather {
  color: #ccc;
}
footer .gutter span {
  display: block;
  height: 1.5px;
  width: 50px;
  background: #ccc;
  margin: 0 10px;
}

.layout-left {
  min-width: 260px;
  max-width: 260px;
  padding-right: 40px;
}
.layout-right {
  flex-grow: 1;
}

header .layout-left {
  display: flex;
  justify-content: flex-start;
}
header .layout-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gutter {
  padding: 40px;
  margin: 0 auto;
  max-width: 1200px;
}

.logo {
  width: 200px;
  margin: 0;
  padding: 0;
}
.logo img {
  display: block;
  width: 100%;
  margin: 0;
}

.search {
  width: 100%;
  background: white;
  border-radius: 5px;
  position: relative;
}
.search .feather {
  color: #999;
  position: absolute;
  z-index: 1;
  top: 14px;
  left: 15px;
}
.search input {
  height: 50px;
  width: 100%;
  padding: 0 20px 0 40px;
  font-family: inherit;
  font-size: 16px;
  box-sizing: border-box;
  background: transparent;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  border: 0;
}
.search input:focus,
.search input:active {
  outline: 0;
  box-shadow: 0 0 0 3px #FFAA00;
}

.heading {
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.block + .block {
  margin-top: 20px;
}

.loading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  color: #999;
  text-align: center;
  padding: 50px 0;
  animation: loading 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.error {
  font-size: 14px;
  font-weight: normal;
  color: #555;
  text-align: center;
  padding: 50px 0;
  background: #ddd;
  border-radius: 10px;
}
.error b {
  color: #222;
}

p a:hover,
p a:focus {
  color: #FFAA00 !important;
}

.items, .item {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none outside;
}
.item {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
}
.item + .item {
  margin-top: 10px;
}
.item-heading {
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  line-height: 20px;
  padding-right: 20px;
}
.item-text {
  line-height: 20px;
}
.item-link {
  text-decoration: none;
}
.item-link:hover,
.item-link:focus {
  color: #FFAA00 !important;
}
.item-date {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #666;
  white-space: nowrap;
}
.item-group {
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  padding: 9px 20px 10px;
  border-top: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  background: #f8f8f8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.item-group .item-text {
  white-space: nowrap;
  font-size: 13px;
  color: #333;
}
.item-group .item-text .feather {
  margin-right: 3px;
}
.item-points { min-width: 80px; }
.item-players { min-width: 60px; }
.item-notes {
  max-width: 200px;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item-link { margin-left: auto; }

@media screen and (min-width: 951px) {
  .item-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (max-width: 950px) {
  .item-content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 825px) {
  .gutter { padding: 20px }
  section .gutter { flex-direction: column-reverse; }
  section .layout-left { max-width: 100%; padding: 100px 0 0; }
  section .layout-left .block {
    max-width: 400px;
    margin: 20px auto;
    text-align: justify;
    padding: 0;
  }
  section .layout-left .block h3 { display: none; }

  header .logo { width: 100px; }
  header .layout-left {min-width: 100px; padding-right: 20px; }

  .item-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (max-width: 625px) {
  .item-content {
    display: flex;
    flex-direction: column;
  }
}